<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header"
        class="background-dark text-primary-red">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-primary-red text-decoration-none">
                <img th:src="@{/images/logotype.png}" height="50" width="70"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a th:href="@{/}" th:text="#{layout.menu.home}"
                       th:classappend="${#httpServletRequest.requestURI eq '/' ? 'text-light-blue' : 'text-secondary-beige'}"
                       class="nav-link-custom px-2">Home</a>
                </li>
                <li>
                    <a th:href="@{/public/jobs}" th:text="#{layout.menu.jobs}"
                       th:classappend="${#httpServletRequest.requestURI.startsWith('/jobs') ? 'text-light-blue' : 'text-secondary-beige'}"
                       class="nav-link-custom px-2">Home</a>
                </li>
                <li sec:authorize="hasAnyRole('FREELANCER', 'RECRUITER')">
                    <a th:href="@{/private/user}" th:text="#{layout.menu.user}"
                       th:classappend="${#httpServletRequest.requestURI eq '/user' ? 'text-light-blue' : 'text-secondary-beige'}"
                       class="nav-link-custom px-2">About</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/private/admin}" th:text="#{layout.menu.admin}"
                       th:classappend="${#httpServletRequest.requestURI eq '/admin' ? 'text-light-blue' : 'text-secondary-beige'}"
                       class="nav-link-custom px-2">About</a>
                </li>
            </ul>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label for="flexRadioDefault1"></label>
                        <a th:href="@{''(lang='lt')}">
                            <img th:src="@{/images/language_lt.png}"
                                 class="language-selector"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               checked>
                        <label for="flexRadioDefault2"></label>
                        <a th:href="@{''(lang='en')}">
                            <img th:src="@{/images/language_en.png}"
                                 class="language-selector"/>
                        </a>
                    </div>
                </li>
            </ul>

            <th:block sec:authorize="isAnonymous()">
                <div class="text-end">
                    <form th:action="@{/login}" method="get">
                        <button class="btn btn-custom me-2" th:text="#{layout.menu.login}">Login</button>
                    </form>
                </div>
                <div class="text-end">
                    <form th:action="@{/public/signUpForm}" method="get">
                        <button class="btn btn-custom" th:text="#{layout.menu.signUp}">Sign-up</button>
                    </form>
                </div>
            </th:block>

            <div class="text-end">
                <form th:action="@{/logout}" method="POST"
                      sec:authorize="isAuthenticated()">
                    <button class="btn btn-custom me-2" th:text="#{layout.menu.logout}">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>

<div th:fragment="successMessage(message)"
     th:if="${message ne null}" class="alert alert-success" role="alert">
    <span th:text="${message}"></span>
</div>

<div th:fragment="pagination">
    <ul class="pagination-custom page-block"
        th:with="order=${jobs.sort.sorted ? jobs.sort.iterator().next() : null},
                 ignoreCase=${order ne null and order.ignoreCase ? 'ignoreCase' : ''},
                 orderParam=${order ne null ? order.property + ',' + order.direction.name() + ',' + ignoreCase : null}">
        <li class="page-item"
            th:classappend="${jobs.hasPrevious() ? '' : 'disabled'}">
            <a class="page-link" th:href="@{''(page=${jobs.number - 1}, sort=${orderParam})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li th:each="page : ${#numbers.sequence(1, jobs.totalPages)}" class="page-item"
            th:classappend="${jobs.number == page - 1 ? 'active' : ''}">
            <a th:href="@{''(page=${page - 1}, sort=${orderParam})}"
               th:text="${page}" class="page-link">1</a>
        </li>

        <li class="page-item"
            th:classappend="${jobs.hasNext() ? '' : 'disabled'}">
            <a class="page-link" th:href="@{''(page=${jobs.number + 1}, sort=${orderParam})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

<footer th:fragment="footer" class="footer background-dark">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 ">
            <div class="col-md-4 d-flex align-items-center">
                <div class="container text-secondary-beige">
                    <div th:text="#{company.name}"></div>
                    <div th:text="#{company.address}"></div>
                    <div th:text="#{company.bank}"></div>
                    <div th:text="#{company.iban}"></div>
                </div>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-secondary-beige" th:href="#{footer.linkedin}">
                    <img th:src="@{/images/networks_linkedin.png}">
                </a></li>
                <li class="ms-3"><a class="text-secondary-beige" th:href="#{footer.youtube}">
                    <img th:src="@{/images/networks_youtube.png}">
                </a></li>
                <li class="ms-3"><a class="text-secondary-beige" th:href="#{footer.facebook}">
                    <img th:src="@{/images/networks_facebook.png}">
                </a></li>
            </ul>
        </div>
    </div>
</footer>


</html>