:root {
    --dark-red: #780000;
    --red: #C1121F;
    --beige: #FDF0D5;
    --dark-blue: #003049;
    --light-blue: #669BBC;

    --bs-nav-link-font-size: null;
}
main{
    min-height: 80vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

#login-block {
    --bs-card-border-color: none;
}

.page-block {
    margin-top: 20px;
}

.background-dark {
    background-color: var(--dark-red);
}

.background-light {
    background-color: var(--beige);
}

.background-blue {
    background-color: var(--light-blue);
}

.nav-link-custom {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--beige);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}
.nav-link-custom:hover, .nav-link-custom:focus {
    color: var(--dark-blue);
}
.nav-link-custom.disabled {
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
}

.btn-custom {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--light-blue);
    --bs-btn-border-color: var(--dark-blue);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--beige);
    --bs-btn-hover-border-color: var(--dark-blue);
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--red);
    --bs-btn-active-border-color: var(--beige);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--red);
    --bs-btn-disabled-border-color: var(--dark-blue);
}

.pagination-custom {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--dark-red);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--light-blue);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--red);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(120, 0, 0, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--dark-red);
    --bs-pagination-active-border-color: var(--beige);
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}


.text-dark-blue {
    color: var(--dark-blue);
}

.text-light-blue {
    color: var(--light-blue);
}

.text-primary-red {
    color: var(--red);
}

.text-secondary-beige {
    color: var(--beige)
}

.error-block {
    /*background-color: indianred;*/
    display: inline-block;
    padding-right: 20px;
    font-size: 60%;
    color: indianred;
    border-color: red;
}

.error {
    color: indianred;
    border-color: red;
}

.footer {
    position: sticky;
    bottom: auto;
    width: 100%;
    height: 120px;
}

.language-selector {
    height: 20px;
    width: 20px;
}

#flexRadioDefault1, #flexRadioDefault2{
    display: none;
}

#formEdit, #formDelete, #formDeleteAdmin, #formApply, #formRate {
    border-style: none;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating > input{ display:none;}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer;
}
.rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before{
    opacity:1;
}

.rating:hover > input:checked ~ label:before{ opacity: 0.4; }

table {
    text-align: center;
}