<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{jobsPage.title}, ~{:: #main})">
<div id="main" class="container">
    <h1 class="text-center">Job details</h1>
    <form method="post" th:object="${job}" th:action="@{''}">
        <div class="mb-3">
            <label class="form-label" th:text="'JobTitle'"></label>
            <input class="form-control" th:field="*{jobTitle}">
        </div>
        <div class="mb-3">
            <label class="form-label" th:text="'JobType'"></label>
            <input class="form-control" th:field="*{jobType}">
        </div>
        <div class="mb-3">
            <label class="form-label" th:text="'deadlline'"></label>
            <input class="form-control" th:field="*{deadline}">
        </div>
        <div class="mb-3">
            <label class="form-label" th:text="'Salary'"></label>
            <input class="form-control" th:field="*{jobDetails.salary}">
        </div>
        <div class="mb-3">
            <label class="form-label" th:text="'Job description'"></label>
            <textarea class="form-control" th:field="*{jobDetails.description}"></textarea>
        </div>
        <div class="d-md-flex justify-content-md-center">
            <button type="submit">
                Save data
                <i class="fa-solid fa-upload"></i>
            </button>
        </div>
    </form>
</div>
</html>