<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title=#{loginPage.title}, content=~{:: #main})">

<div id="main" class=" text-center text-lg-start">
    <div id="login-block" class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
                <img th:src="@{/images/login.jpg}"
                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>
            </div>
            <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">

                    <form th:action="@{/login}" method="POST">
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form2Example1" class="form-control" name="username"/>
                            <label class="form-label" for="form2Example1" th:text="#{form.signUp.username}">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example2" class="form-control" name="password"/>
                            <label class="form-label" for="form2Example2" th:text="#{form.password}">Password</label>
                        </div>

<!--                        &lt;!&ndash; 2 column grid layout for inline styling &ndash;&gt;-->
<!--                        <div class="row mb-4">-->
<!--                            <div class="col d-flex justify-content-center">-->
<!--                                &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"-->
<!--                                           checked/>-->
<!--                                    <label class="form-check-label" for="form2Example31" th:text="#{form.rememberMe}">-->
<!--                                        Remember me </label>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col">-->
<!--                                &lt;!&ndash; Simple link &ndash;&gt;-->
<!--                                <a href="#!" th:text="#{form.forgotPassword}">Forgot password?</a>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Submit button -->
                            <button type="submit"
                                    class="btn btn-custom btn-block mb-4"
                                    style="width: 100%" th:text="#{form.signIn}">Sign in
                            </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</html>