<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{signUp.title}, ~{:: #main})">
<div id="main">
    <form method="POST" th:object="${appUser}">
        <div>
            <label th:text="#{signUp.email}">Email Address</label>
            <input th:field="*{emailAddress}">
        </div>

        <div>
            <label th:text="#{signUp.password}">Password</label>
            <input type="password" th:field="*{password}">
        </div>

        <div>
            <label th:text="#{signUp.repeatPassword}">Repeat Password</label>
            <input type="password">
        </div>


        <div>
            <button type="submit" th:text="#{signUp.button.submit}">Create</button>
        </div>
    </form>
</div>
</html>