<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{usersPage.title}, ~{:: #main})">
<div id="main">
    <div th:if="${freelancers.empty}">
        <h1 th:text="#{usersPage.noFreelancers}">No freelancers found</h1>
    </div>
    <div th:if="${recruiters.empty}">
        <h1 th:text="#{usersPage.noRecruiters}">No recruiters found</h1>
    </div>
    <table th:if="${not freelancers.empty}" class="table align-middle mb-0 bg-white page-block">
        <thead class="bg-light">
        <tr>
            <th th:text="#{user.name}">Name</th>
            <th th:text="#{user.surname}">Surname</th>
            <th th:text="#{user.username}">Username</th>
            <th th:text="#{user.email}">Email</th>
            <th th:text="#{freelancer.jobsFinished}">Jobs Done</th>
            <th th:text="#{freelancer.rating}">Rate</th>
            <th th:text="#{freelancer.totalIncome}">Income</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="freelancer : ${freelancers}">
            <td th:text="${freelancer.name}">Namer</td>
            <td th:text="${freelancer.surname}">Surnamer</td>
            <td th:text="${freelancer.username}">Does</td>
            <td th:text="*{freelancer.emailAddress}">email@mail.com</td>
            <td th:text="${freelancer.freelancer.jobsFinished}">25</td>
            <td th:text="${freelancer.freelancer.rating}">+5.5</td>
            <td th:text="*{freelancer.freelancer.totalIncome}">2525.50</td>
        </tr>
        </tbody>
    </table>
    <table th:if="${not recruiters.empty}" class="table align-middle mb-0 bg-white page-block">
        <thead class="bg-light">
        <tr>
            <th th:text="#{user.name}">Name</th>
            <th th:text="#{user.surname}">Surname</th>
            <th th:text="#{user.username}">Username</th>
            <th th:text="#{user.email}">Email</th>
            <th th:text="#{recruiter.businessName}">Business Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recruiter : ${recruiters}">
            <td th:text="${recruiter.name}">Namer</td>
            <td th:text="${recruiter.surname}">Surnamer</td>
            <td th:text="${recruiter.username}">Does</td>
            <td th:text="*{recruiter.emailAddress}">email@mail.com</td>
            <td th:text="${recruiter.recruiter.businessName}">UAB 25</td>

        </tr>
        </tbody>
    </table>
</div>
</html>